#slider
  #slides
    -@slides.each do |slide|
      .slide{:class =>("dark" if slide.dark? )}
        %img{:height => "370", :src => slide.file.url, :width => "960"}/  
        .banner-text
          - if cookies[:language] == "es"
            = raw slide.spanish_content
          -else
            = raw slide.content
      / /slide
  / /slides
/ /slider
.box
  %h2.cufon1
    = t :new_courses
  -unless @recent_courses.empty?
    -@recent_courses.each do |course|
      .col
        %h3
          %a{:href => product_path(course)}
            =course.name
        %p.price
          =number_to_currency(course.price)
        %p
          =t :category
          #{":"}
          %a{:href => category_path(course.category)}
            =course.category.name
      / /col
  .clr
    / 
/ /box
.box
  %h2.cufon1
    = t :most_popular
  -unless @popular_courses.empty?
    -@popular_courses.each do |course|
      .col
        %h3
          %a{:href => product_path(course)}
            =course.name
        %p.price
          =number_to_currency(course.price)
        %p
          =t :category
          #{":"}
          %a{:href => category_path(course.category)}
            =course.category.name
      / /col
  .clr
    / 
/ /box
