!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title ABC - Online Learning Center
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/custom.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/cufon.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.plugins.js", :type => "text/javascript"}
    %script{:src => "/javascripts/functions.js", :type => "text/javascript"}
    =javascript_include_tag 'rails.js'
    =javascript_include_tag 'application.js'
    =javascript_include_tiny_mce_if_used
    - if using_tiny_mce?
      =tiny_mce
    /[if lt IE 7]
      =stylesheet_link_tag 'ie6'
      =javascript_include_tag 'ie6hover.js'
    - meta.each do |meta|
      %meta{:content => meta.value, :name => meta.name}/
    =csrf_meta_tag
  %body
  #header
    .wrapper
      #logo
        %a{:href => root_path}
          %img{:alt => "ABC - Online Learning Center", :height => "86", :src => "/images/logo_abc.gif", :width => "197"}/
      %ul#topnav
        -if user_signed_in?
          %li.icon.ic-user
            %a{:href => user_path(current_user)}
              =current_user.email
        -else
          %li.icon.ic-user
            %a{:href => new_user_session_path}
              =t :sign_in
        -if user_signed_in?
          %li.icon.ic-cart
            %a{:href => '/cart'}
              =pluralize(current_user.pending_purchases.count, t(:product))
              ,
              = number_to_currency(current_user.pending_purchases_amount)
        -else
          %li.icon.ic-cart
            %a{:href => '/cart'}
              0
              = t :products
              , $0.00
        %li
          - if cookies[:language] == "es"
            %a{:href => "/change_language?lang=en"} English
          - else
            %a{:href => "/change_language?lang=es"} Español
        -if user_signed_in?
          %li
            %a{:href => '/my_products'}
              =t :my_products
          %li
            %a{:href => destroy_user_session_path}
              =t :sign_out
          -if current_user.admin?
            %li
              %a{:href => admin_root_path} Admin
      / /topnav
      =render :partial => 'layouts/search_form'
      %ul#nav
        -if user_signed_in? && (current_user.admin? || current_user.editor?)
          =render :partial => 'admin/home/nav'
        -else
          %li
            %a.current{:href => root_path}
              %span= t :home
          %li
            %a{:href => "#"}
              %span
                =t :find_courses
                %img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
            %ul
              %li
                %a{:href => '/advanced_search'}
                  =t :advanced_search
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/14-what-s-new"}
                  =page_title '14-what-s-new'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/15-best-sellers"}
                  =page_title '15-best-sellers'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/16-tags"}
                  =page_title '16-tags'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/17-categories"}
                  =page_title '17-categories'
          %li
            %a{:href => "#"}
              %span
                =t :products
                %img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
            %ul
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/18-our-courses"}
                  =page_title '18-our-courses'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/19-class-member"}
                  =page_title '19-class-member'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/20-agency"}
                  =page_title '20-agency'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/21-ipad-iphone"}
                  =page_title '21-ipad-iphone'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/22-dvds"}
                  =page_title '22-dvds'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/23-give-a-gift"}
                  =page_title '23-give-a-gift'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/24-free-courses"}
                  =page_title '24-free-courses'
          %li
            %a{:href => "#"}
              %span
                =t :news
                %img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
            %ul
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/10-newsletter"}
                  =page_title '10-newsletter'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/11-press-releases"}
                  =page_title '11-press-releases'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/12-media"}
                  =page_title '12-media'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/13-events"}
                  =page_title '13-events'
          %li
            %a{:href => "#"}
              %span
                =t :about_us
                %img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
            %ul
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/6-abc-e-learning-story"}
                  =page_title '6-abc-e-learning-story'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/7-executive-team"}
                  =page_title '7-executive-team'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/8-partnership"}
                  =page_title '8-partnership'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/9-careers"}
                  =page_title '9-careers'
          %li
            %a{:href => "#"}
              %span
                = t :support
                %img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
            %ul
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/25-frequently-asked-question"}
                  =page_title '25-frequently-asked-question'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/26-contact-us"}
                  =page_title '26-contact-us'
              %li
                %a{:href => "http://abc-onlinelearningcenter.com/pages/27-system-requeriments"}
                  =page_title '27-system-requeriments'
      / /main-nav
    / /wrapper
  / /header
  .wrapper
    #content
      -flash.each do |key, value|
        =content_tag(:div, raw(value), :class=> "flash #{key}")
      =yield
    / /content
    #footer
      =render :partial => 'layouts/search_form'
      .separator
        / 
      #footnav
        %ul
          %li
            %strong
              =t :why_choose_us
          %li
            %a{:href => 'http://abc-onlinelearningcenter.com/pages/1-benefits'}
              =page_title '1-benefits'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/4-membership"}
              =page_title '4-membership'
          %li
            %a{:href => 'http://abc-onlinelearningcenter.com/pages/5-testimonials'}
              =page_title '5-testimonials'
        %ul
          %li
            %strong
              =t :about_us
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/6-abc-e-learning-story"}
              =page_title '6-abc-e-learning-story'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/7-executive-team"}
              =page_title '7-executive-team'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/8-partnership"}
              =page_title '8-partnership'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/9-careers"}
              =page_title '9-careers'
        %ul
          %li
            %strong
              =t :news
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/10-newsletter"}
              =page_title '10-newsletter'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/11-press-releases"}
              =page_title '11-press-releases'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/12-media"}
              =page_title '12-media'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/13-events"}
              =page_title '13-events'
        %ul
          %li
            %strong
              =t :find_courses
          %li
            %a{:href => "/advanced-search"}
              =t :advanced_search
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/14-what-s-new"}
              =page_title '14-what-s-new'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/15-best-sellers"}
              =page_title '15-best-sellers'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/16-tags"}
              =page_title '16-tags'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/17-categories"}
              =page_title '17-categories'
        %ul
          %li
            %strong
              =t :products
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/18-our-courses"}
              =page_title '18-our-courses'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/19-class-member"}
              =page_title '19-class-member'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/20-agency"}
              =page_title '20-agency'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/21-ipad-iphone"}
              =page_title '21-ipad-iphone'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/22-dvds"}
              =page_title '22-dvds'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/23-give-a-gift"}
              =page_title '23-give-a-gift'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/24-free-courses"}
              =page_title '24-free-courses'
        %ul
          %li
            %strong
              = t :support
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/25-frequently-asked-question"}
              =page_title '25-frequently-asked-question'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/26-contact-us"}
              =page_title '26-contact-us'
          %li
            %a{:href => "http://abc-onlinelearningcenter.com/pages/27-system-requeriments"}
              =page_title '27-system-requeriments'
        .clr
          / 
      / /footnav
      .separator
        / 
      %ul#social
        %li.first
          %strong
            = t :follow_us
        %li
          %a{:href => "#"}
            %img.ic-youtube{:alt => "YouTube", :height => "34", :src => "/images/spaceball.gif", :width => "32"}/
        %li
          %a{:href => "#"}
            %img.ic-twitter{:alt => "Twitter", :height => "34", :src => "/images/spaceball.gif", :width => "32"}/
        %li
          %a{:href => "#"}
            %img.ic-facebook{:alt => "Facebook", :height => "34", :src => "/images/spaceball.gif", :width => "32"}/
        %li
          %a{:href => "#"}
            %img.ic-linkedin{:alt => "LinkedIn", :height => "34", :src => "/images/spaceball.gif", :width => "32"}/
      / /social
      .legal
        %a{:href => "http://abc-onlinelearningcenter.com/pages/28-became-a-reseller"}
          =page_title '28-became-a-reseller'
        %span |
        %a{:href => "http://abc-onlinelearningcenter.com/pages/29-affiliate-program"}
          =page_title '29-affiliate-program'
        %span |
        %a{:href => "http://abc-onlinelearningcenter.com/pages/30-privacy-policy"}
          =page_title '30-privacy-policy'
        %span |
        %a{:href => "http://abc-onlinelearningcenter.com/pages/31-terms-and-conditions"}
          =page_title '31-terms-and-conditions'
        %span |
        %a{:href => "#"}
          =t :sitemap
        %p
          Copyright © 2011 ABC Online learning Center, Inc.
          =t :all_rights
      / /legal
      .clr
        / 
    / /footer
  / /wrapper
